@import "bootstrap";

/****************************************
NAVBAR
*****************************************/

.navbar-default {
  background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 600;
  color: #a6c462;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #475431;
}

.navbar-right {
  padding-right: 20px;
}

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

/****************************************
Jumbotron - need to add image
*****************************************/

.jumbotron {
  background-image: url('https://dl.dropboxusercontent.com/s/n8w9l6s88551dfq/jumbotron.jpg');
  h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
  }
}

.center {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {font-size: 45px;}
  h5 {font-size: 25px;}
  p {font-size: 18px;}
}

.caption {
  h3 {
    font-size: 17px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}

/** Added padding for navbar **/

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 70px;
}
  

/****************************************
FOOTER
*****************************************/

.footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #000;
}

/****************************************
VALUE 3
*****************************************/



#reasons ul {
  list-style-type: none;
  padding: 0;
}

#reasonleft {
  background-color: #F5F5F1;
  border-right-style: solid;
  border-right-width: 1px;
/*  border-right-color: #7F7F7F; */
  padding: 0;
}
#reasonmiddle {
  background-color: #F5F5F1;
  padding: 0;
}
#reasonright {
  background-color: #F5F5F1;
  border-left-style: solid;
  border-left-width: 1px;
/*  border-left-color: #7F7F7F; */
  padding: 0;
}

#value3large {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  clear: both;
  padding-top: 30px;
}

#value3small {
  font-size: 1.25em;
  text-align: center;
  clear: both;
  padding-top: 15px;
  padding-bottom: 10px;
}


/****************************************
CAROUSEL
*****************************************/

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
