<% if user_signed_in? %>
    <%= link_to new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
    <span class="glyphicon glyphicon-plus"></span> Add a new menu
<% end %>
<% end %>