<div class="row container-fluid">
	<div class="col-md-4" id="reasonleft">.
		<ul id="reasonleft">
			<li id="value3large">Reason 1</li>
			<li id="value3small">Sub reason 1</li>
		</ul>
	</div>
	<div class="col-md-4" id="reasonmiddle">
		<ul id="reasonmiddle">
			<li id="value3large">Reason 2</li>
			<li id="value3small">Sub reason 2</li>
		</ul>
	</div>
	<div class="col-md-4" id="reasonright">
		<ul id="reasonright">
			<li id="value3large">Reason 3</li>
			<li id="value3small">Sub reason 3</li>
		</ul>
	</div>
</div>