<div class="row container-fluid" id="reasons">
	<div class="col-md-4" id="reasonleft">
		<ul id="reasonleft_list">
			<li id="value3large">Easy</li>
			<li id="value3small">Sub reason 1</li>
		</ul>
	</div>
	<div class="col-md-4" id="reasonmiddle">
		<ul id="reasonmiddle_list">
			<li id="value3large">Reason 2</li>
			<li id="value3small">Sub reason 2</li>
		</ul>
	</div>
	<div class="col-md-4" id="reasonright">
		<ul id="reasonright_list">
			<li id="value3large">Delicious</li>
			<li id="value3small">Sub reason 3</li>
		</ul>
	</div>
</div>